* {
    margin: o;
    padding: 0;
    box-sizing: border-box;
}

body {
    background:var(--background);
}

:root {
    --primary: #F66C34;
    --white: #ffffff;
    --background: #000000;
    --padding: 16px;
    --half-padding: 8px;
    --sm: 468px;
    --md: 765px;
    --lg: 1024px;
}

header {
    display: flex;
    align-items: center;
    padding: 15px 15px 0px 15px;
}

.container {
    padding: 15px;
    padding-left: 22px;
    gap: 12rem;
    background-color: #ffffff;
    border-radius: 10px;
} 

header .container {
    display: flex;
    align-items: center;
}

nav {
    display: inline-flex;
    gap: 25rem;
}

.nav-links a {
    text-decoration: none;
    color: black;
    gap: 8px;
}

header ul {
    list-style: none;
}

header .link-wrapper {
    display: flex;
    align-items: center;
}

header .nav-links {
    display: flex;
    gap: var(--padding);
}

.buttons {
    display: flex;
    align-items: center;
}

.bi {
    padding-right: 14px;
    color: black;
}

.selection a {
    text-decoration: none;
    text-transform: none;
}

select {
    outline: none;
    border: 1px solid transparent;
    width: 90px;
}

.selection1 {
    width: 75px;
}

.button {
    padding: 12px;
    background-color: #F66C34;
    border-radius: 5px;
    border: none;
}

.button a {
    text-decoration: none;
    color: white;
}

.content {
    color: #ffffff;
    font-size: 116px;
    padding-left: 10px;
    margin: 0px;
}

span {
    color: #F66C34;
}

.content-img {
    width: 700px;
    height: 500px;
    flex-shrink: 0;
    object-fit: cover;
    padding-left: 10px;
    border-radius: 20px;
}

.content-img1 {
    width: 600px;
    height: 200px;
    flex-shrink: 0;
    object-fit: cover;
    padding-left: 10px;
    border-radius: 20px;
}

.con-tent {
    display: flex;
    gap: 10px;
}

.content1 {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 10px 20px 0px 40px;
    margin-left: 10px;
    margin-top: 10px;
}

.content-p {
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.content-name {
    font-size: 20px;
    margin: 8px;
}

.content-button {
    padding: 12px 20px;
    background-color: #F66C34;
    border-radius: 10px;
    border: none;
    color: white;
    margin-bottom: 20px;
}

.content-button a {
    text-decoration: none;
    color: #ffffff;
}

.comment {
    color: var(--white, #F6F6F6);
    font-family: "Bebas Neue";
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    line-height: 96px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.comment-boxes {
    display: flex;
    gap: 5px;
}

.comment-box {
    height: 130px;
    width: 410px;
    background-color: white;
    display: flex;
    margin-left: 20px;
    align-items: center;
    padding: 20px;
    gap: 30px;
    border-radius: 10px;
}

.comment-p {
    font-size: 20px;
}

.comment1 {
    color: var(--white, #F6F6F6);
    font-family: "Bebas Neue";
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 96px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 5px;
}

.brand {
    display: flex;
}

.brand-image {
    background: url(images/Rectangle\ 5267\ \(5\).png);
    height: 250px;
    width: 400px;
    margin-left: 25px;
    margin-top: 20px;
    border-radius: 20px;
    object-fit: cover;
    padding: 14% 0px 0px 20px;
    color: white;
}

.brand-image1 {
    background: url(images/Rectangle\ 5267\ \(1\).png);
    height: 250px;
    width: 400px;
    margin-left: 25px;
    margin-top: 20px;
    border-radius: 20px;
    object-fit: cover;
    padding: 14% 0px 0px 20px;
    color: white;
}

.brand-image2 {
    background: url(images/Rectangle\ 5267\ \(7\).png);
    height: 250px;
    width: 400px;
    margin-left: 25px;
    margin-top: 20px;
    border-radius: 20px;
    object-fit: cover;
    padding: 14% 0px 0px 20px;
    color: white;
}

.brand-image3 {
    background: url(images/Rectangle\ 5267\ \(4\).png);
    height: 250px;
    width: 400px;
    margin-left: 25px;
    margin-top: 20px;
    border-radius: 20px;
    object-fit: cover;
    padding: 14% 0px 0px 20px;
    color: white;
}

.brand-image4 {
    background: url(images/Rectangle\ 5267\ \(2\).png);
    height: 250px;
    width: 400px;
    margin-left: 25px;
    margin-top: 20px;
    border-radius: 20px;
    object-fit: cover;
    padding: 14% 0px 0px 20px;
    color: white;
}

.brand-image5 {
    background: url(images/Rectangle\ 5267\ \(3\).png);
    height: 250px;
    width: 400px;
    margin-left: 25px;
    margin-top: 20px;
    border-radius: 20px;
    object-fit: cover;
    padding: 14% 0px 0px 20px;
    color: white;
}

.brand-image6 {
    background: url(images/Rectangle\ 5267\ \(9\).png);
    height: 250px;
    width: 400px;
    margin-left: 25px;
    margin-top: 20px;
    border-radius: 20px;
    object-fit: cover;
    padding: 14% 0px 0px 20px;
    color: white;
}

.brand-image7 {
    background: url(images/Rectangle\ 5267\ \(8\).png);
    height: 250px;
    width: 400px;
    margin-left: 25px;
    margin-top: 20px;
    border-radius: 20px;
    object-fit: cover;
    padding: 14% 0px 0px 20px;
    color: white;
}

.brand-p {
    background-color: #F66C34;
    color: #ffffff;
    height: 250px;
    margin-left: 20px;
    margin-top: 20px;
    /* height: 250px; */
    width: 420px;
    border-radius: 20px;
    text-align: center;
    padding: 20px;
    font-size: 70px;
}

.brand-p a {
    text-decoration: none;
    color: white;
}

.brand-product {
    display: flex;
    color: #ffffff;
    padding-top: 30px;
    justify-content: space-between;
    align-items: center;
}

.brand-button {
    background-color: #F66C34;
    padding: 10px 20px;
    border: none;
    border-radius: 7px;
    margin-right: 20px;
    font-size: 20px;
}

.brand-button a {
    text-decoration: none;
    color: white;
}

.product-p {
    font-size: 70px;
    padding-left: 20px;
}

.product-img {
    display: flex;
    gap: 20px;
    margin: 10px 0px 320px 10px;
}

.product-content {
    color: #F6F6F6;
    height: 300px;
}


.product-img1 {
    display: flex;
    gap: 20px;
    margin: 10px 0px 320px 10px;
}

.product-content img {
    height: 450px;
    width: 420px;
    object-fit: cover;
    border-radius: 20px;
}

.product-name {
    display: flex;
    gap: 10rem;
    padding-left: 10px;
}

.product-name1 {
    display: flex;
    gap: 12rem;
    padding-left: 10px;
}

.product-name2 {
    display: flex;
    gap: 14rem;
    padding-left: 10px;
}

.bi-star-fill {
    color: #F66C34;
    padding-left: 10px;
}

.span {
    color:white ;
}

.product-button {
    background:none;
    margin: 20px 0px 0px 10px;
    width: 98%;
    height: 50px;
    border-radius: 10px;
    border: 1px solid var(--white);
    font-size: 20px;
}

.product-button a {
    text-decoration: none;
    color: white;
}

.product-image {
    color: #F66C34;
    height: 70px;
}

.product-cont {
    color: white;
    display: flex;
    align-items: center;
    gap: 12px;
}

.product-cont1 {
    color:#F66C34;
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 30px;
}

.product-cont2 {
    color:#F66C34;
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 30px;
}

.product-cont p {
    font-size: 40px;
    color: #F66C34;
}

.product-page {
    display: flex;
    gap: 25px;
    margin-left: 20px;
}

.about-image {
    height: 420px;
    width: 550px;
    object-fit: cover;
    border-radius: 20px;
}

.about-content {
    background-color: white;
    height: 420px;
    width: 710px;
    border-radius: 20px;
}

.about-content p {
    font-size: 50px;
    padding: 20px 20px 0px 20px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.about-content h5 {
    width: 90%;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; 
    margin-top: 0px;
    padding: 0px 20px 0px 20px;

}

.about-product {
    display: flex;
    gap: 20px;
    margin-left: 20px;
}

.about-time p {
    font-size: 40px;
    padding: 0px 10px 0px 20px;
    margin-bottom: 0px;
}

.about-time h5 {
    font-size: 25px;
    margin-bottom: 20px;
}

.about-numb {
    display: flex;
}

.About-product {
    display: flex;
    gap: 20px;
    padding-bottom: 0px;
}

.about-button {
    background-color: #F66C34;
    padding: 15px 20px;
    margin-left: 20px;
    border-radius: 10px;
    border: none;
}

.about-button a {
    text-decoration: none;
    color: white;
}

.About-comp p {
    color: white;
    font-size: 40px;
}

.About-comp .faqs {
    text-align: center;
}

.about-comp {
    display: flex;
    align-items: center;
    margin-left: 30px;
    background-color: #292929;
    color: white;
    width: 45%;
    height: 70px;
    justify-content: space-between;
    padding: 0px 20px 0px 20px;
    border-radius: 10px;
}

.about-comp .p {
    background-color: #292929;
    color: white;
    font-size: 20px;
}

#bi-star {
    padding: 0px;
}

.icon-star span {
    color: black;
}

.about-company {
    display: flex;
    margin-bottom: 27px;
}

.review {
    color: white;
    font-size: 30px;
    text-align: center;
}

.about-review {
    padding: 20px;
    background-color: white;
    width: 32%;
    border-radius: 20px;
}

.About-review {
    display: flex;
    gap: 17px;
    margin-left: 20px;
}

.about-rev p {
    width: 100%;
}

.tag {
    color: var(--Black-100, #4B4B4B);
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin: 0px;
}

.tag-name {
    margin: 0px;
}

.product-box {
    background-color: #292929;
    width: 40%;
    margin-left: 20px;
    color: white;
    border-radius: 20px;
    padding-bottom: 20px;
}

.product-box p {
    width: 90%;
    font-size: 40px;
    padding: 40px;
    margin-bottom: 0px;
}

.Button {
    display: flex;
    margin-left: 40px;
    gap: 10px;
}

.Button a {
    text-decoration: none;
    color: white;
}

.prod-button {
    padding: 15px 50px;
    background: none;
    border: 1px solid white;
    border-radius: 10px;
}

.product-but {
    background-color: #F66C34;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
}

.product-images img {
    height: 420px;
    width: 750px;
    object-fit: cover;
    border-radius: 20px;
}

.product-boxes {
    display: flex;
    gap: 15px;
    margin-top: 40px;
}

.product-page1 {
    display: flex;
    gap: 50px;
    margin-left: 20px;
}

.product-cont p {
    font-size: 35px;
    color: #F66C34;
}

.about-service {
    display: flex;
    gap: 110px;
    font-size: 30px;
    margin-left: 10px;
}

.footer {
    font-size: 20px;
}

.About-service {
    display: flex;
}

.About-serve {
    margin-right: 130px;
}

.about-serve p {
    font-size: 15px;
    margin-top: 0px;
}

.payment-cards {
    background-color: #F6F6F6;
    color: black;
    border-radius: 20px;
    margin-bottom: 30px;
    padding: 30px 0px 30px 20px;
}

.logo {
    padding: 10px 15px;
    border: 1px solid black;
}

.logo-image {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.cards {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    padding: 30px 20px 0px 0px;
}

.card {
    padding: 10px 20px;
    border: 1px solid black;
    width: 20%;
}

.card1 {
    padding: 10px 35px;
    border: 1px solid black;
}

.Card {
    display: flex;
    gap: 20px;
}

header .toggle,
header .close {
    display: none;
}

@media screen and (max-width:768px) {
    header .toggle,
    header .close {
        display: block;
    }

    header .close {
        position: fixed;
        left: var(--padding);
        top: var(--padding);
    }

    header nav {
        display: grid;
        position: fixed;
        height: 100vh;
        width: 100%;
        top: 0;
        right: 0;
        background: blue;
        cursor: pointer;
        transform: translateX(100%);
        transition: 0.25s ease-in-out transform;
    }

    header nav.open {
        transform: translateX(0);
    }

    header .link-wrapper {
        position: relative;
        justify-self: end;
        padding: var(--padding);
        padding: 2rem;
        flex-direction: column;
        background: var(--primary);
        height: 100%;
        width: min(20rem, 85%);
        cursor: default;
    }

    header .nav-links {
        flex-direction: column;
    }

    .buttons {
        display: block;
    }

    .content {
        font-size: 25px;
        padding: 15px 0px 15px 20px;
        width: 100%;
    }

    .content-img {
        width: 350px;
        height: 300px;
        margin-bottom: 10px;
    }

    .content-img1 {
        width: 350px;
    }

    .con-tent {
        display: block;
    }

    .content1 {
        padding: 10px 20px 0px 30px;
        width: 112%;
    }

    .content-p {
        font-size: 28px;
        width: 100%;
    }

    .content-name {
        font-size: 17px;
        margin: 0px;
        padding: 10px 0px 10px 0px;
    }

    .comment {
        font-size: 36px;
        margin: 0px;
        padding-left: 10px;
    }

    .comment-boxes {
        display: block;
    }

    .comment-box {
        height: 80px;
        width: 340px;
        margin-left: 10px;
        margin-bottom: 10px;
    }

    .box-img {
        height: 80px;
        width: 90px;
    }

    .comment-p {
        margin: 0px;
        font-size: 14px;
    }

    .comment-p1 {
        font-size: 18px;
        margin-bottom: 10px;
        width: 150%;
    }

    .comment-p2 {
        font-size: 15px;
    }

    .comment1 {
        font-size: 30px;
        margin: 10px;
        line-height: 35px;
        padding-top: 20px;
    }

    .brand {
        display: block;
    }

    .brand-image {
        height: 180px;
        width: 340px;
        margin-left: 10px;
        padding: 35% 0px 0px 20px;
    }

    .brand-image1 {
        height: 180px;
        width: 340px;
        margin-left: 10px;
        padding: 35% 0px 0px 20px;
    }

    .brand-image2 {
        height: 180px;
        width: 340px;
        margin-left: 10px;
        padding: 35% 0px 0px 20px;
    }

    .brand-image3 {
        height: 180px;
        width: 340px;
        margin-left: 10px;
        padding: 35% 0px 0px 20px;
    }

    .brand-image4 {
        height: 180px;
        width: 340px;
        margin-left: 10px;
        padding: 35% 0px 0px 20px;
    }

    .brand-image5 {
        height: 180px;
        width: 340px;
        margin-left: 10px;
        padding: 35% 0px 0px 20px;
    }

    .brand-image6 {
        height: 180px;
        width: 340px;
        margin-left: 10px;
        padding: 35% 0px 0px 20px;
    }

    .brand-image7 {
        height: 180px;
        width: 340px;
        margin-left: 10px;
        padding: 35% 0px 0px 20px;
    }

    .brand-p {
        height: 180px;
        width: 340px;
        margin-left: 10px;
        font-size: 40px; 
    }

    .brand-product {
        display: block;
        padding-top: 10px;
    }

    .brand-button {
        margin: 0px 0px 20px 95px;
    }

    .product-p {
        font-size: 20px;
        width: 100%;
        padding-left: 40px;
    }

    .product-img {
        display: block;
    }

    .product-img1 {
        display: block;
        margin: 0px 0px 320px 10px;
    }

    .product-content img {
        height: 300px;
        width: 340px;
    }

    .product-content {
        margin-bottom: 300px;
        height: 200px;
    }

    .product-name {
        gap: 10rem;
        padding-left: 0px;
    }

    .product-name1 {
        gap: 12rem;
        padding-left: 0px;
    }

    .product-name2 {
        gap: 12rem;
        padding-left: 0px;
    }

    .product-tag {
        font-size: 15px;
    }

    .product-button {
        width: 100%;
    }

    .product-image {
        height: 70px;
    }

    .product-cont p {
        font-size: 30px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .product-cont {
        color: white;
        display: flex;
        align-items: center;
        gap: 8px;
    }
    
    .product-cont1 {
        display: none;
    }

    .about-image {
        height: 300px;
        width: 340px;
        margin-left: 0px;
    }

    .about-product {
        display: block;
        margin-left: 10px;
        margin-top: 20px;
    }

    .about-content {
        height: 420px;
        width: 340px;
        margin-top: 20px;
    }

    .about-content p {
        font-size: 25px;
    }

    .about-content h5 {
        font-size: 15px;
    }

    .about-time p {
        font-size: 20px;
        padding: 0px 10px 0px 15px;
    }

    .about-time h5 {
        padding: 12px;
    }

    .About-comp .faqs {
        font-size: 25px;
        margin-bottom: 40px;
    }

    .about-comp {
        height: 70px;
        width: 113%;
        margin-bottom: 15px;
        margin-left: 10px;
    }

    .about-comp .p {
        font-size: 14px;
    }

    .review {
        padding-left: 28px;
    }

    .about-comp p {
        font-size: 25px
    }

    .about-company {
        display: block;
        margin-bottom: 0px;
    }

    .About-review {
        display: block;
        margin-left: 10px;
    }

    .about-review {
        width: 115%;
        margin-bottom: 15px;
    }

    .Tag {
        font-size: 14px;
    }

    .product-box p {
        font-size: 25px;
        width: 100%;
    }

    .product-box {
        width: 110%;
        margin-left: 10px;
    }

    .product-boxes {
        display: block;
    }

    .Button {
        margin-left: 20px;
        gap: 10px;
    }

    .prod-button {
        padding: 10px 15px;
        font-size: 15px;
        /* width: 100%; */
    }

    .product-but {
        padding: 10px 20px;
    }

    .product-images img {
        height: 300px;
        width: 350px;
        margin-top: 15px;
        margin-left: 5px;
    }

    .product-cont {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .product-cont p {
        font-size: 40px;
        padding-left: 20px;
        width: 100%;
    }

    .product-cont2 {
        display: none;
    }

    .About-service {
        display: block;
    }

    .about-service {
        display: block;
    }

    .payment-cards {
        width: 355px;
    }

    .cards {
        display: block;
    }

    .Card {
        display: block;
    }

    .card {
        height: 40px;
        width: 50%;
    }

    .card1 {
        height: 40px;
        width: 60%;
    }
}